<section class="w-full h-screen flex flex-col items-center justify-center bg-gradient-to-b from-blue-600 to-blue-400">
  <header class="w-full ">
    <h1 class="text-2xl font-bold text-slate-100 text-center">My Day</h1>
    <p class="text-slate-100 text-center">All my task in one place</p>
  </header>
  <main class="max-w-96">
    <input type="text" placeholder="Add a new task" class="w-full border rounded-md p-2">
    <article>
      <ul>
        <li></li>
      </ul>
    </article>
  </main>
</section>